<!-- Google tag (gtag.js) -->
<link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
<script>
  (function () {
    var params = new URLSearchParams(window.location.search);
    if (params.get('ci_audit') === '1') {
      window.__BOUSAI_ANALYTICS_DISABLED__ = true;
      return;
    }

    window.dataLayer = window.dataLayer || [];
    window.gtag = function () { window.dataLayer.push(arguments); };

    var script = document.createElement('script');
    script.async = true;
    script.src = 'https://www.googletagmanager.com/gtag/js?id=G-XQVLD5HMNG';
    document.head.appendChild(script);

    window.gtag('js', new Date());
    window.gtag('config', 'G-XQVLD5HMNG');
  }());
</script>
